#lsm-subscribe{
	background-color: #e3e8eb;
	padding-bottom: 50px;
	padding-top: 50px;
	margin-top: 50px;
}
#lsm-fb{
	text-shadow: 1px 1px 1px #333;
	box-shadow: 1px 1px 1px #333;
	text-transform: inherit;
	span.fb{
		background-image: url('fb/fb.png');
	}
}